#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button-primary {
  background-color: #567C8D;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #466A7B;
}

.button-secondary {
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  color: #567C8D;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.3s;
  border: 1px solid #567C8D;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: rgba(86, 124, 141, 0.1);
}

.button-ghost {
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.button-ghost:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hero-title {
  font-size: 64px;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  letter-spacing: 2%;
}

.section-header {
  font-size: 40px;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
}

.subheader {
  font-size: 28px;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
}

.hero-banner {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #1e293b;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar-logo {
  flex-shrink: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.navbar-item {
  margin: 0;
}

.navbar-link {
  color: #1F4E79;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Sora', sans-serif;
}

.navbar-link:hover {
  color: white;
}